.imageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 2rem;
    margin: 0;
    figure{
        cursor: pointer;
        position: relative;
        margin: 0;
        width: 70%;
        border-width: 1.5px;
        transition: opacity 1s ease-in-out;
        .coatingImage{
            transition: filter .5s ease-in-out
        }
        figcaption{
            position: absolute;
            bottom: 0;
            text-align: left;
            color: white;
            font-weight: bold;
            letter-spacing: .25rem;
            font-size: 2rem;
            width: 100%;
            padding: 1rem;
            background-color: rgba(0, 0, 0, 0.66);
            pointer-events: none;
            @media screen and (max-width: 360px){
                font-size: 1.5rem;
                padding-left: 1rem;
                padding-top: 2rem;
                span{
                    padding: .5rem;
                    svg{
                        width: 1.5rem;
                    }
                }
            }
            span{
                display: flex;
                justify-content: space-between;
                svg{
                    width: 2rem;
                    color: white;
                }
            }
        }
    }
}
.contactPitch{
    padding-top: 2rem;
    h2{
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        font-weight: bold;
        padding-top: 0;
        padding-bottom: 0;
        color: rgba(0, 0, 0, 0.799);
    }
    h4{
        text-align: center;
        color: rgba(0, 0, 0, 0.799);
        font-weight: bold;
        letter-spacing: .05rem;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.popupImages{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    svg{
        position: absolute;
        top: 0;
        left: 0;
        margin: 1rem;
        width: 60px;
        cursor: pointer;
        color: white;
    }
    img{
        width: 80%;
        height: auto;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);        
        border: 5px solid white;
        border-radius: 5px;
        object-fit: cover;

    }
}

@media screen and (max-width: 900px){
    .imageContainer{
        figure{
            figcaption{
                font-size: 1.5rem;
                letter-spacing: .1rem;
            }
        }
    }
}
@media screen and (min-width: 600px){
    .popupImages{
        img{
            width: 60%;
        }
    }
}
@media screen and (min-width: 900px){
    .popupImages{
        img{
            width: 40%;
        }
    }
    .imageContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
            figure{
                position: relative;
                margin: 0;
                width: 35%;
                border-width: 1.5px;
                figcaption{
                    position: absolute;
                    bottom: 0;
                    text-align: left;
                    color: white;
                    font-weight: bold;
                    letter-spacing: .25rem;
                    font-size: 1.5rem;
                    width: 100%;
                    padding: 1rem;
                    background-color: rgba(0, 0, 0, 0.66);
                    @media screen and (max-width: 360px){
                        font-size: 1.5rem;
                        padding-left: 1rem;
                        padding-top: 2rem;
                        span{
                            padding: .5rem;
                        }
                    }
                    span{
                        
        
                    }
                }
        }
    }
    .contactPitch{
        padding-top: 4rem;
        padding-bottom: 4rem;
        h2{
            padding-left: 10%;
            padding-right: 10%;
            font-size: 3rem;
            text-align: center;
            font-weight: bold;
            padding-top: 0;
            padding-bottom: 0;
            color: rgba(0, 0, 0, 0.799);
        }
        h4{
            text-align: center;
            color: rgba(0, 0, 0, 0.799);
            font-weight: bold;
            letter-spacing: .05rem;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}