
    .containerQuote{
        padding: 32px;
        margin: 0 auto;
        width: 90%;
        .quoteCalculator{
            background-color: rgba(0,0,0,.05);
            padding: 1.5rem;
            .quoteLabel{    
                h3{
                    font-size: 2.5rem;
                }
                p{
                    font-weight: bold;
                }
            }
            form{
                padding-bottom: 10px;
                label{
                    margin-top: 10px;
                    h3{
                        font-weight: bold;
                        font-size: 2rem;
                    }
                }
                input[type=Submit]{
                    background-color: rgba(252,98,77);
                    color: white;
                    font-weight: bold;
                    margin-top: 25px;
                }
                .dropdown{
                    position: relative;
                    cursor: pointer;
                    .dropdown-select{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        height: calc(1.5em + .75rem + 2px);
                        padding: .375rem .75rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        border-radius: .25rem;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        .select{

                        }
                        svg{
                            width: 1.5rem;
                            height: auto;
                        }
                    }
                    .dropdown-list{
                        z-index: 4;
                       border-radius: 4px; 
                       background-color: white;
                       position: absolute;
                       top:110%;
                       left: 0;
                       right: 0;
                       opacity: 0;
                       visibility: hidden;
                       transition: opacity 0s linear;
                       box-shadow: rgba(0, 0, 0, 0.25) 0px 2.5px 10px;
                       .dropdown-list_item{
                           padding: 1rem;
                           &:hover{
                               background-color: rgba(252,98,77);
                               color: white;
                               font-weight: bold;
                           }
                       }
                    }
                    .active{
                        opacity: 1;
                        visibility: visible;
                    }

                }
                .estimatedSum{
                    text-align: center;
                    color: white;
                    font-weight: bold;
                    margin-top: 25px;
                    background-color: rgba(250, 61, 36, 0.9);
                    padding: 1.5rem;
                    border-radius: .25rem;
                    visibility: hidden;
                    position: absolute;
                    top:110%;
                    left: 0;
                    right: 0;
                    opacity: 0;
                }
                .activeEstimate{
                    position: relative;
                    visibility: visible;
                    opacity: 1;   
                    .price{
                        font-style: italic;

                    }
                    .price::before {
                        content:"$";
                    }
                    .activePrice{
                        display: none;
                    }
                }
                
            }
        }

        h2{
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
            font-weight: bold;
            padding-top: 2rem;
            color: rgba(0, 0, 0, 0.799);
        }
        h4{
            text-align: center;
            color: rgba(0, 0, 0, 0.799);
            font-weight: bold;
            letter-spacing: .125rem;
            padding: 1rem;
        }
    }
