@media screen and (max-width: 900px){
    #Home{
        height: 100%;
        .break{
            display: none;
        }
        .Home_main{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            height: 100%;


            section{
                display: flex;
                justify-content: center;
                line-height: 2.5rem;
                gap: 1.5rem;

            }
        }
        
        .Home_main-quotePitch{
            padding-top: 4rem;
            padding-bottom: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.15) ), url('https://i.ibb.co/W5YkLd2/Screen-Shot-2022-04-27-at-1-49-06-AM.png');
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size : cover;

            h1{
                height: fit-content;
                width: 70%;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: clamp(.25rem, 2.5rem, 3rem);
                color: white;
                text-shadow: 0px 0px 15px black;
                margin: 0;

            }
            
            .quoteButton{
                width: fit-content;
                appearance: button;
                background-color:  #fa2d11;
                border: solid transparent;
                border-radius: 16px;
                border-width: 0 0 4px;
                box-sizing: border-box;
                color: #FFFFFF;
                cursor: pointer;
                display: inline-block;
                font-family: din-round,sans-serif;
                font-size: 1.25rem;
                font-weight: 700;
                letter-spacing: .8px;
                line-height: 20px;
                margin: 0;
                outline: none;
                overflow: visible;
                padding: 1rem .75rem;
                text-align: center;
                text-transform: uppercase;
                touch-action: manipulation;
                transform: translateZ(0);
                transition: filter .2s;
                user-select: none;
                -webkit-user-select: none;
                vertical-align: middle;
                white-space: nowrap;
            }
            .quoteButton:after {
                background-clip: padding-box;
                background-color:  #fc614dc8;
                border: solid transparent;
                border-radius: 16px;
                border-width: 0 0 4px;
                bottom: -4px;
                content: "";
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
              }
              .quoteButton:hover:not(:disabled) {
                filter: brightness(1.25);
                -webkit-filter: brightness(1.25);
              }
              
        
        }
        .Home_main-epoxyPitch{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1{
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-size: clamp(.25rem, 2.25rem, 3rem);
                height: fit-content;
                overflow: visible;
                font-weight: bold;
                letter-spacing: .2rem;
                color: rgba(0, 0, 0, 0.799);

                background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(13, 13, 13, 0.0) );
                padding-top: 2.5rem;
                padding-bottom: 2.5rem;
            }

            .differenceFunnel{
                background: none;
                text-align: center;
                display: .5rem;
                @media screen and (max-width: 370px){
                    font-size: 2rem;
                    padding: .75rem;
                }
            }

            .compareImages{
                .before{
                    border-top: solid;
                    border-color: rgba(0, 0, 0, 0.799);
                    border-width: 1.5px;
                }
                figure{
                    position: relative;
                    margin: 0;
                    border-bottom: solid;
                    border-color: rgba(0, 0, 0, 0.799);
                    border-width: 1.5px;
                    figcaption{
                        position: absolute;
                        top: 0;
                        text-align: left;
                        color: white;
                        font-weight: bold;
                        letter-spacing: .25rem;
                        padding-left: 2rem;
                        padding-top: 3rem;
                        font-size: 2rem;
                        @media screen and (max-width: 360px){
                            font-size: 1.5rem;
                            padding-left: 1rem;
                            padding-top: 2rem;
                            span{
                                padding: .5rem;
                            }
                        }
                        span{
                            border: solid;
                            padding: 1rem;
                            background-color: rgba(0, 0, 0, 0.25);

                        }
                    }
                }

            }

        }
        .comparisonTable_image{
            width: 100%;
            height: auto;
        }
        .Home_main-contactPitch{
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            align-items: center;
            padding: 1rem;
            h1{
                width: 100%;
                color: rgba(0, 0, 0, 0.799);
                font-size: 4rem;
                font-weight: bold;
                text-align: center;
                white-space: nowrap;
                @media screen and (max-width: 650px){
                    font-size: 3rem;
                    @media screen and (max-width: 475px){
                        font-size: 2.5rem;
                        @media screen and (max-width: 380px){
                            font-size: 2rem;
                        }
                    }

                }
            }
            h4{
                font-size: 1rem;
                font-weight: bold;
                width: 80%;
                text-align: center;
            }
        }
    }
}
@media screen and (min-width: 900px){
    .Home_main-quotePitch{
        padding-top: 13rem;
        padding-bottom: 13rem;
        display: flex;
        min-height: 500px;
        justify-content: center;
        gap: 1.5rem;
        align-items: center;
        flex-direction: column;
        background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15) ), url('https://i.ibb.co/W5YkLd2/Screen-Shot-2022-04-27-at-1-49-06-AM.png');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size : 99.9%;


        h1{
            height: fit-content;
            width: 100%;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: clamp(.25rem, 4rem, 7rem);
            color: white;
            text-shadow: 0px 0px 15px black;

        }
        .quoteButton{
            width: fit-content;
            appearance: button;
            background-color:  #fa2d11;
            border: solid transparent;
            border-radius: 16px;
            border-width: 0 0 4px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: din-round,sans-serif;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: .8px;
            line-height: 20px;
            margin: 0;
            outline: none;
            overflow: visible;
            padding: 1.5rem 1.75rem;
            text-align: center;
            text-transform: uppercase;
            touch-action: manipulation;
            transform: translateZ(0);
            transition: filter .2s;
            user-select: none;
            -webkit-user-select: none;
            vertical-align: middle;
            white-space: nowrap;
        }
        .quoteButton:after {
            background-clip: padding-box;
            background-color:  #fc614dc8;
            border: solid transparent;
            border-radius: 16px;
            border-width: 0 0 4px;
            bottom: -4px;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
          }
          .quoteButton:hover:not(:disabled) {
            filter: brightness(1.25);
            -webkit-filter: brightness(1.25);
          }
          
    }
    .Home_main-epoxyPitch{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .tableSection{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 2rem;
            padding-top: 5rem;
            padding-bottom: 0;
            .epoxyH1Div{
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
            .comparisonTableImage{
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 10px;
            }    
        }
        h1{
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: clamp(.25rem, 3.75rem, 6rem);
            height: fit-content;
            overflow: visible;
            font-weight: bold;
            letter-spacing: .2rem;
            color: rgba(0, 0, 0, 0.799);
            width: fit-content;
            margin-bottom: 0;
            background-color: transparent;
            border: 2px solid rgba(252,98,77);
            padding: 3rem;
            box-shadow: -40px -40px 0 -2px #F5F5F5, -40px -40px 0 0 rgba(252,98,77)
        }

        .differenceFunnel{
            background: none;
            text-align: center;
            padding: 5rem;
            padding-top: 0;
            margin-top: 5rem;
            border: none;
            box-shadow: none;
            @media screen and (max-width: 370px){
                font-size: 2rem;
                padding: .75rem;
            }
        }
        .differenceFunnel::after{
            content: '';
            height: 4.25px;
            width: 0%;
            background-color: #d2d2d2;
            display: block;
            transition: 1200ms;
        }
        .differenceFunnel.is-visible::after{
            content:'';
            height: 4.25px;
            width: 100%;
            background-color: #d2d2d2;
            display: block;
          }

        .compareImages{
            display: flex;
            justify-content: space-evenly;
            .beforeFigure{
                box-shadow: rgba(0, 0, 0, 0.5) -3.95px 3.95px 20px;
            }
            .afterFigure{
                box-shadow: rgba(0, 0, 0, 0.5) 3.95px 3.95px 20px;
            }
            .figureContainer{
                width: 40%;
                
                figure{
                    position: relative;
                    margin: 0;
                    height: 100%;
                    .comparisonImage{
                        height: 100%;
                    }
                    figcaption{
                        position: absolute;
                        top: 0;
                        text-align: left;
                        color: white;
                        font-weight: bold;
                        letter-spacing: .25rem;
                        padding-left: 2rem;
                        padding-top: 3rem;
                        font-size: 2rem;
                        @media screen and (max-width: 360px){
                            font-size: 1.5rem;
                            padding-left: 1rem;
                            padding-top: 2rem;
                            span{
                                padding: .5rem;
                            }
                        }
                        span{
                            border: solid;
                            padding: 1rem;
                            background-color: rgba(0, 0, 0, 0.25);
    
                        }
                    }
                    
                }
            }

        }
    }
    .Home_main-contactPitch{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        align-items: center;
        padding: 1rem;
        h1{
            width: 100%;
            color: rgba(0, 0, 0, 0.799);
            font-size: 4rem;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
            @media screen and (max-width: 650px){
                font-size: 3rem;
                @media screen and (max-width: 475px){
                    font-size: 2.5rem;
                    @media screen and (max-width: 380px){
                        font-size: 2rem;
                    }
                }

            }
        }
        h4{
            font-size: 1.5rem;
            font-weight: bold;
            width: 80%;
            text-align: center;
        }
    }
}