@media screen and (max-width: 900px){
    #Home{
        height: 100%;

        .Home_main{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            height: 100%;


            section{
                display: flex;
                justify-content: center;
                line-height: 2.5rem;
                gap: 1.5rem;

            }
        }
        .Home_main-quotePitch{
            padding-top: 4rem;
            padding-bottom: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.25) ), url('https://i.ibb.co/W5YkLd2/Screen-Shot-2022-04-27-at-1-49-06-AM.png');
            background-position: cover;

            h1{
                height: fit-content;
                width: 70%;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: clamp(.25rem, 2.5rem, 3rem);
                color: white;
                text-shadow: .35px .35px 2px black;


            }
            .quoteButton{
                height: fit-content;
                width: fit-content;
                padding-top: 1rem;
                padding-bottom: 1rem;

                box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
                display: flex;
                justify-content: center;
                
                background-color: rgba(252,98,77);

                border-radius: 50%;
                border: none;
                h1{
                    color: white;
                    font-size: clamp(.75rem, 1.5rem, 2rem);
                    text-shadow: 0 0;
                    width: 60%;
                }   

            }
        }
        .Home_main-epoxyPitch{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1{
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: clamp(.25rem, 2.25rem, 3rem);
                height: fit-content;
                overflow: visible;
                letter-spacing: .2rem;

                background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(13, 13, 13, 0.0) );
                padding-top: 2.5rem;
                padding-bottom: 2.5rem;
            }
        }
        .comparisonTable_image{
            width: 100%;
            height: auto;
        }
    }
}