@media screen and (max-width: 900px){
    .navigationBar_ul--desktop{
        display: none;
    }
    .navigationBar{
        background-color: white;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position:sticky;
        top: 0;
        overflow: hidden;
        z-index: 5; 

        transition: transform .8s;
        filter: drop-shadow(0px 8px 3px rgba(0, 0, 0, 0.01));
        .navbarLogo{
            max-width:40%;
            user-select: none;
            cursor: pointer;
            padding: 1rem;
        }
      }
      .navigationBar.active { 
        transform: translateY(-100%);
        box-shadow: none;
      }

.app_navbar-menu {
        width: fit-content;
        height: fit-content;

        display: flex;
        justify-content: flex-end;
        .app_navbar-menu_icon{
            color: rgba(0, 0, 0, 0.799);
            height: clamp(2rem, 4rem, 6rem);
            width: auto;
            margin-left: auto;
            svg{
                width: fit-content;
                margin-left: auto;
            }
        }
    
    
        div {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 50;
    
            padding: 1rem;
    
            width: 80%;
            height: 100vh;
    
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
    
            box-shadow: 0 0 50px rgba(7, 7, 7, 0.5);
    
            background: white;

            overflow: hidden;
            
            -webkit-backface-visibility: hidden;
    
    
            svg {
                width: 15%;
                height: auto;
                color: rgba(252,98,77);
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
    
                display: flex;
                gap: 10%;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
    
                li {
                    height: fit-content;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        font-size: 2rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        font-family: 'Montserrat', sans-serif;
                        color: black;
    
                        transition: all .3s ease-in-out;
    
                    }
                }
            }
    
        }
    }

}
// *************
// D E S K T O P
// *************

@media screen and (min-width: 900px){
       .app_navbar-menu{
           display: none;
       } 
       .navigationBar.navigationBar.active{
           transform: translateY(-100%);
           box-shadow: none;
       }
       .navigationBar{
            padding-top: 1rem;
            padding-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            position:sticky;
            top: 0;
            overflow: hidden;
            z-index: 5; 
            background-color: white;
            transition: transform .8s;
            filter: drop-shadow(0px 8px 3px rgba(0, 0, 0, 0.01));


            .navbarLogo{
                width:20%;
                margin-left: 48px;
                user-select: none;
                cursor: pointer;
            }
        .navigationBar_ul--desktop{
            width: fit-content;
            display: flex;
            margin-top: 0;
            margin-bottom:0;
            margin-right: 48px;
            li{
                margin-left: 3rem;
                width: fit-content;
                display: flex;
                align-items: center;
                font-size: 1.75rem;
                a::after{
                    content: '';
                    height: 2px;
                    width: 0%;
                    background-color: rgba(0, 0, 0, 0.799);
                    display: block;
                    transition: .2s ease-in;
                }
                a:hover::after{
                    content:'';
                    height: 2px;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.799);
                    display: block;
                  }
                a{
                    color: rgba(0, 0, 0, 0.799);
                    text-decoration: none;
                    font-weight: bold;
                    cursor: pointer;

                  }
              }
        }     
       }
       
}