#Contact{
    margin-top: 1rem;
    padding: 2rem;
    padding-top: 0;
    p{
        text-align: center;
    }
    label{
        margin-top: 10px;
    }
    input[type=Submit]{
        background-color: rgba(252,98,77);
        color: white;
        font-weight: bold;
        margin-top: 25px;
    }
}
